<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <div id="header" class="nav-collapse">
        <div class="row clearfix">
            <div class="col-1">
                <div id="logo">
                    <a href="{{ site.baseurl }}/">
                        <img src="{{ site.baseurl }}/assets/images/logo.png" id="banner-logo" alt="NDoubleD Logo"/>
                        <img src="{{ site.baseurl }}/assets/images/logo-2.png" id="navigation-logo" alt="NDoubleD Logo Sticky"/>
                    </a>
                </div>

                <aside>
                    <ul class="social-icons">
                        <li><a target="_blank" href="https://www.facebook.com/duyduannguyen.it.cfc/"><i class="fa fa-facebook fa-1x"></i><span>Facebook</span></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/_n2d.duan_/"><i class="fa fa-instagram fa-1x"></i><span>Instagram</span></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/duannguyen2606"><i class="fa fa-linkedin fa-1x"></i><span>Linkedin</span></a></li>
                        <li><a target="_blank" href="https://github.com/duan-n2d"><i class="fa fa-github fa-1x"></i><span>Github</span></a></li>
                    </ul>
                </aside>

                <nav id="nav-main">
                    <ul>
                        <li><a href="{{ site.baseurl }}/">Portfolio</a></li>
                        <li><a href="{{ site.baseurl }}/academic/">Academic Hub</a></li>
                        <li><a href="{{ site.baseurl }}/learning/">Learning Journey</a></li>
                        <li><a href="{{ site.baseurl }}/admin/">Admin</a></li>
                    </ul>
                </nav>

                <div id="nav-trigger"><span></span></div>
                <nav id="nav-mobile"></nav>
            </div>
        </div>
    </div>

    {% if page.url == "/" or page.url == "/index.html" %}
    <div id="banner-content" class="row clearfix">
        <div class="col-38">
            <div class="section-heading">
                <h1>Duan Nguyen Duy</h1>
                <h2>Data Engineer @ Dentsu Vietnam - Merkle (CXM)</h2>
                <p>Architecting scalable data solutions and automated pipelines.</p>
            </div>
        </div>
    </div>
    {% endif %}
</header>
