<header id="header" class="nav-collapse">
    <div class="row clearfix">
        <!-- Logo Section -->
        <div id="logo">
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/src/images/logo.png" id="banner-logo" alt="{{ site.data.dyllan.name }} Logo"/>
            </a>
        </div>

        <!-- Navigation Menu -->
        <nav id="nav-main">
            <ul>
                {% for link in site.data.navigation.main %}
                <li class="{% if link.sub %}has-dropdown{% endif %} {% if page.url == link.url %}active{% endif %}">
                    <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                    {% if link.sub %}
                    <ul class="dropdown">
                        {% for sublink in link.sub %}
                        <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>

        <!-- Social Icons & Trigger -->
        <aside>
            <ul class="social-icons">
                {% if site.data.dyllan.social.facebook %}<li><a target="_blank" href="{{ site.data.dyllan.social.facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
                {% if site.data.dyllan.social.instagram %}<li><a target="_blank" href="{{ site.data.dyllan.social.instagram }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
                {% if site.data.dyllan.social.linkedin %}<li><a target="_blank" href="{{ site.data.dyllan.social.linkedin }}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
                {% if site.data.dyllan.social.github %}<li><a target="_blank" href="{{ site.data.dyllan.social.github }}"><i class="fa fa-github"></i></a></li>{% endif %}
            </ul>
            <div id="nav-trigger"><span></span></div>
        </aside>
        
        <nav id="nav-mobile"></nav>
    </div>
</header>

    {% if page.url == "/" or page.url == "/index.html" %}
    <div id="banner-content" class="row clearfix">
        <div class="col-38">
            <div class="section-heading">
                <h1>{{ site.data.dyllan.name }}</h1>
                <h2>{{ site.data.dyllan.title }} @ {{ site.data.dyllan.company }}</h2>
                <p>{{ site.data.dyllan.tagline }}</p>
            </div>
        </div>
    </div>
    {% endif %}
</header>
